# SQL Injection Detection

This project is to detect SQL injection using Machine Learning and Deep Learning.

## Dependencies

- Python 3.9.5
- urllib
- csv
- base64
- xml
- **sql-injection-detection==1.1.0**  # Updated version

## Installation

To install the required libraries, run:

```bash
pip install -r requirements.txt
```

## Usage

Use the log_parser.py code to extract features from log files for the Logistic Regression ML model.